body {
  background-color: #0d0d0d;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
}

a {
  color: white;
}

a:hover {
  color: #cc00cc;
}

hr {
  border-bottom: none;
}

.em {
  padding-right: 2px;
}
